.calendar-wrapper {
  margin: 20px auto;
  max-width: 90%;
}

.calendar-event-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 10px;
  color: #222;
}

.calendar-event {
  background-color: #fceabb;
  margin-top: 2px;
  padding: 2px 4px;
  border-radius: 4px;
}
